.add-reptile-dialog-input {
  width: 250px;
}

.add-reptile-dialog-input {
  width: 250px;
  margin-right: 10px;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: black !important;
}

::ng-deep.mat-form-field-underline {
  background-color: dimgrey !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: dimgrey !important;;
}

.add-reptile-dialog-input-image {
  width: 513px;
}

.button-add.disabled {
  color: white;
}

