<div class="background">
  <h1>ReptiNote</h1>
  <div class="login-card">
    <mat-card>
      <mat-card-title>Login</mat-card-title>

      <form class="login-form">
        <mat-form-field class="input-username" appearance="fill">
          <mat-label>Benutzername</mat-label>
          <input matInput placeholder="Benutzername" value="">
        </mat-form-field>

        <mat-form-field class="input-password" appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </form>

      <mat-card-actions>
        <button mat-button class="login-button" (click)="navigateToDashboard()">
          Login
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<router-outlet></router-outlet>

