body{
  background: whitesmoke;
}

.breeder-cards{
  display: inline-flex;
  margin-top: 20px;
}

mat-card{
  width: 400px;
  margin: 10px;
}

.breeder-menu{
  margin-left: 50px;
  margin-right: 70px;
}

.breeder-buttons{
  margin: 5px;
}

.dashboard-header{
  display: grid;
  grid-template-areas:
    "a b c d e";
  grid-template-columns: 180px 30px auto 30px 300px;
}

.dashboard-header h2{
  grid-area: a;
  margin-top: 20px;
  margin-left: 15px;
  font-size: x-large;
}

.searchfield{
  grid-area: e;
  justify-self: end;
  width: 300px;
  margin-top: 20px;
  padding-left: 50px;
}

.icon-search{
  grid-area: d;
  margin-top: 25px;
  padding-left: 40px;
}

.add-breeder-button{
  margin-top: 18px;
  color: white;
  background-color: dimgrey;
  width: 200px;
  height: 40px;
}

#breeder-card-content-header-address{
  border-top: 1px solid grey;
  padding-top: 10px;
  font-size: large;
  margin-bottom: 5px;
}

#breeder-card-content-header-contact{
  border-top: 1px solid grey;
  padding-top: 10px;
  font-size: large;
  margin-bottom: 5px;
  margin-top: 10px;
}

.table-row-first{
  color: dimgrey;
  padding-right: 5px;
}
