body{
  background: whitesmoke;
}

.test{
  display: grid;
  grid-template-areas:
    "details tables";
  grid-template-columns: 40% 60%;
}

mat-card {
  width: auto;
  margin: 20px;
}

.reptile-buttons{
  margin: 5px;
}

.reptile-details-card{
  grid-area: details;
  border-right: solid 1px gray;
  margin-right: 20px;
  margin-top: 20px;
}

.details-table-area{
  grid-area: tables;
}

.details-card{

}
