<div class="test" *ngIf="reptile">

  <div class="reptile-details-card">
    <mat-card class="details-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{reptile.name}}</mat-card-title>
        <mat-card-subtitle>{{reptile.ordnung}} | {{reptile.art}}</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image src="{{reptile.imageURL}}" alt="Place for a picture of your beautiful Animal :)">

      <mat-card-content>
        <section id="card-content-left">
          <p><span class="card-content-subpoints">Geburtsdatum:</span> {{reptile.geburtsdatum}}</p>
          <p><span class="card-content-subpoints">Geschlecht:</span> {{reptile.geschlecht}}</p>
          <p><span class="card-content-subpoints">Morph:</span> {{reptile.morph}}</p>
        </section>

        <section id="card-section-right">
          <p>
            <span class="card-content-subpoints">Züchter: </span>
            {{reptile.breeder.firstName}} {{reptile.breeder.lastName}}
          </p>
          <p>
            <span class="card-content-subpoints">Gewicht: </span>
            {{reptile.weight[reptile.weight.length - 1] ? reptile.weight[reptile.weight.length - 1].weight : '-'}} g
          </p>
          <p>
            <span class="card-content-subpoints">Letzte Fütterung:</span>
            {{reptile.feedings[reptile.feedings.length - 1] ? reptile.feedings[reptile.feedings.length - 1].date : '-'}}
          </p>
        </section>

        <section class="card-content-bottom">
          <p>
            <span class="card-content-subpoints">Notiz: </span>
            {{reptile.notes[reptile.notes.length - 1] ? reptile.notes[reptile.notes.length - 1].note : '-'}}
          </p>
        </section>

      </mat-card-content>

      <mat-card-actions align="end">

        <button mat-mini-fab class="reptile-buttons" color="reptiNoteTheme" aria-label="Details-Button"
                (click)="openEditReptileDialog()">
          <mat-icon> edit</mat-icon>
        </button>

        <button mat-mini-fab class="reptile-buttons" color="warn" aria-label="Details-Button"
                (click)="openDeleteDialog()">
          <mat-icon> delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="details-table-area">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">restaurant_menu</mat-icon>
          Fütterungen
        </ng-template>
        <app-feeding-table [reptile]="reptile"></app-feeding-table>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">swap_vert</mat-icon>
          Gewicht
        </ng-template>
        <app-weight-table [reptile]="reptile"></app-weight-table>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">textsms</mat-icon>
          Notizen
        </ng-template>
        <app-note-table [reptile]="reptile"></app-note-table>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>

