<div class="mat-elevation-z8" *ngIf="reptile">

  <button mat-raised-button color="reptiNoteTheme" (click)="openAddFeedingDialog(reptile.id)" class="add-feeding-button">
    <mat-icon> add </mat-icon>  Fütterung hinzufügen
  </button>

  <button mat-raised-button color="reptiNoteThemeRed" (click)="deleteFeeding(reptile.id)" class="add-feeding-button">
    <mat-icon> remove </mat-icon>  Fütterung entfernen
  </button>

  <table #myTable mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Datum </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Futtertyp </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Gewicht </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} g </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[10, 15, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
